doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CodeBattles
    meta(name='description', content='')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/js/bootstrap.bundle.min.js')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    script(src='/js/getLeaderboardURL.js').
  body
    

    script(async='', defer='')

    mixin problemDrop(pname)
     li(onClick="return getLeaderboardURL()")
        a(href="#") #{pname}

    div.container
        div.dropdown
         button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") 
          |Select Problem
          span.caret

         ul#problemlist.dropdown-menu
                each item in problems
                 +problemDrop(item.title)

    div.container
        h1=curprob
        div.row
            div.col.col-12
                table.table-striped#Leaderboard
                    thead
                     th(class="col-1") Rank
                     th(class="col-3") Username
                     th(class="col-2") Time (Minutes)
                    tbody
                        each item in leaders
                            tr
                                td(class="col-1")=leaders.indexOf(item)+1
                                td(class="col-3")=item.username
                                td(class="col-2")=item.totaltime


    div.container
     button#problem_list.btn.btn-primary(onclick="location.href='/problems'") Problem List
    

