doctype html
html( lang="en")

head
title Codebattles
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
link(href="css/bootstrap.min.css", rel="stylesheet")

body
 nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  a.navbar-brand(href='/') CodeBattles
  ul.nav.navbar-nav
    li.nav-item
      a.nav-link(href='/') Home
    li.nav-item.active
      a.nav-link(href='/problems') Problem List
    li.nav-item
      a.nav-link(href='/leaderboard/1') Leaderboard 



 h1 Problem List
 div(class="table-responsive")
    table(class="table table-hover" id="thetable")
        thead
            th Problem #
            th problem Name
            th Attempts
            th Correct Answers
            th Solve Pct.
            th Top Time (Minutes)
        tbody
            -var countA=0
            -var probA=1
            -var countS=0
            -var probS=1

            each item in problemList
                -var numAttempts=0;
                -var numSolves=0;
                tr
                    td=item.ProblemId
                    td=item.title
                    if(numTries[countA] != null)
                      if(numTries[countA].Problem == probA)
                        td=numTries[countA].Tries
                        -numAttempts=numTries[countA].Tries
                        -countA++                        
                      else
                        td=0
                    else
                      td=0
                    -probA++
                    if(numSuccess[countS] != null)
                      if(numSuccess[countS].Problem == probS)
                        td=numSuccess[countS].Successes
                        -numSolves=numSuccess[countS].Successes
                        td=numSolves/numAttempts*100
                        td=numSuccess[countS].TopTime
                        -countS++
                      else
                        td=0
                        td=0
                        td Unsolved
                    else
                      td=0
                      td=0
                      td Unsolved
                    -probS++

                    
script(src="http://code.jquery.com/jquery-1.11.0.min.js")
script.
    $('#thetable').find('tr').click( function(){
    var rowclicked = ($(this).index()+1);
    location.href='/challenge/intro/'+rowclicked;
    });
