doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CodeBattles
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/custom.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    script(src='/js/GetProblemID.js').
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      a.navbar-brand(href='/') CodeBattles
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/problems') Problem List
        li.nav-item
          a.nav-link(href='/leaderboard/1') Leaderboard 

    div(class = "container")
        script(async='', defer='')
        mixin LeaderboardButton(pnumber)
         button(class="btn btn-primary" onclick="location.href='/leaderboard/'+#{pnumber}") Full Leaderboard
        mixin Congratulations(name)
         h1(class="text-center text-success") Congratulations #{name}
         h2(class="text-center") You got the right answer!
         h2  
        +Congratulations(username)


        mixin displayTime(numMinutes)
         h3(class="text-center text-info") Your Time:
         h4(class="text-center text-info") 
          strong #{time} minutes
         pre

           
           

        +displayTime(time)


    div.container
        div.text-center
            h3 Top 10 Times:
            div.row-justify-content-md-center
                div.col.col-lg
                    table.table-striped.center-table#Leaderboard
                        thead
                            th.col-2 Rank
                            th.col-6 Username
                            th.col-4 Time (Minutes)
                        tbody
                            each item in leaders
                                tr
                                    td.col-2=leaders.indexOf(item)+1
                                    td.col-6=item.username
                                    td.col-4=item.totaltime
            h1
                
            div.btn-group
                +LeaderboardButton(problem)  
    

